.place__link {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-decoration: underline;
  text-underline-offset: 3px;
  color: #fff;
  margin-top: 12px;
  align-self: flex-start;
}
